In [2]:
# Import our dependencies
import pandas as pd

In [3]:
# Read in Movies CSV
movies_df = pd.read_csv("Resources/movies.csv")
movies_df.head(20)

,movie_name,rating,genre,year_release,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
5,Friday the 13th,R,Horror,1980,6.4,123000.0,Sean S. Cunningham,Victor Miller,Betsy Palmer,United States,550000.0,39754601.0,Paramount Pictures,95.0
6,The Blues Brothers,R,Action,1980,7.9,188000.0,John Landis,Dan Aykroyd,John Belushi,United States,27000000.0,115229890.0,Universal Pictures,133.0
7,Raging Bull,R,Biography,1980,8.2,330000.0,Martin Scorsese,Jake LaMotta,Robert De Niro,United States,18000000.0,23402427.0,Chartoff-Winkler Productions,129.0
8,Superman II,PG,Action,1980,6.8,101000.0,Richard Lester,Jerry Siegel,Gene Hackman,United States,54000000.0,108185706.0,Dovemead Films,127.0
9,The Long Riders,R,Biography,1980,7.0,10000.0,Walter Hill,Bill Bryden,David Carradine,United States,10000000.0,15795189.0,United Artists,100.0
10,Any Which Way You Can,PG,Action,1980,6.1,18000.0,Buddy Van Horn,Stanford Sherman,Clint Eastwood,United States,15000000.0,70687344.0,The Malpaso Company,116.0
11,The Gods Must Be Crazy,PG,Adventure,1980,7.3,54000.0,Jamie Uys,Jamie Uys,N!xau,South Africa,5000000.0,30031783.0,C.A.T. Films,109.0
12,Popeye,PG,Adventure,1980,5.3,30000.0,Robert Altman,Jules Feiffer,Robin Williams,United States,20000000.0,49823037.0,Paramount Pictures,114.0
13,Ordinary People,R,Drama,1980,7.7,49000.0,Robert Redford,Judith Guest,Donald Sutherland,United States,6000000.0,54766923.0,Paramount Pictures,124.0
14,Dressed to Kill,R,Crime,1980,7.1,37000.0,Brian De Palma,Brian De Palma,Michael Caine,United States,6500000.0,31899000.0,Filmways Pictures,104.0
15,Somewhere in Time,PG,Drama,1980,7.2,27000.0,Jeannot Szwarc,Richard Matheson,Christopher Reeve,United States,5100000.0,9709597.0,Rastar Pictures,103.0
16,Fame,R,Drama,1980,6.6,21000.0,Alan Parker,Christopher Gore,Eddie Barth,United States,NaN,21202829.0,Metro-Goldwyn-Mayer (MGM),134.0
17,9 to 5,PG,Comedy,1980,6.9,29000.0,Colin Higgins,Patricia Resnick,Jane Fonda,United States,10000000.0,103300686.0,IPC Films,109.0
18,The Fog,R,Horror,1980,6.8,66000.0,John Carpenter,John Carpenter,Adrienne Barbeau,United States,1000000.0,21448782.0,AVCO Embassy Pictures,89.0
19,Stir Crazy,R,Comedy,1980,6.8,26000.0,Sidney Poitier,Bruce Jay Friedman,Gene Wilder,United States,NaN,101300000.0,Columbia Pictures,111.0

In [4]:
# Check for duplicates in the dataset movies_df
print(f"Duplicate entries: {movies_df['movie_name'].duplicated().sum()}")

Duplicate entries: 156

In [5]:
# Drop duplicates from movies_df
movies_df.drop_duplicates(subset="movie_name", keep=False, inplace=True)
movies_df

,movie_name,rating,genre,year_release,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [13]:
# drop rows with Na values in movies_df
movies_df = movies_df.dropna()

In [14]:
movies_df.isnull()

,movie_name,rating,genre,year_release,score,votes,director,writer,star,country,budget,gross,company,runtime
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7648,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7649,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7650,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7651,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7652,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [72]:
# Read in Top Movies CSV
top_4000_movies_df = pd.read_csv("Resources/top_4000_movies_data.csv", parse_dates=['Release Date'], dayfirst=True)
top_4000_movies_df.head(20)

,Release Date,Movie Title,Production Budget,Domestic Gross,Worldwide Gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2044540523
5,2007-05-24,Pirates of the Caribbean: At World’s End,300000000,309420425,960996492
6,2017-11-13,Justice League,300000000,229024295,655945209
7,2015-06-10,Spectre,300000000,200074175,879500760
8,2019-12-18,Star Wars: The Rise of Skywalker,275000000,515202542,1072848487
9,2018-05-23,Solo: A Star Wars Story,275000000,213767512,393151347
10,2012-07-03,John Carter,263700000,73058679,282778100
11,2016-03-23,Batman v Superman: Dawn of Justice,263000000,330360194,872395091
12,2017-12-13,Star Wars Ep. VIII: The Last Jedi,262000000,620181382,1331635141
13,2019-11-07,The Lion King,260000000,543638043,1654367425
14,2010-11-24,Tangled,260000000,200821936,584899819
15,2007-04-05,Spider-Man 3,258000000,336530303,894860230
16,2016-04-22,Captain America: Civil War,250000000,408084349,1151918521
17,2009-07-15,Harry Potter and the Half-Blood Prince,250000000,302089278,929411069
18,2013-12-12,The Hobbit: The Desolation of Smaug,250000000,258241522,959358436
19,2014-10-12,The Hobbit: The Battle of the Five Armies,250000000,255119788,940389558

In [73]:
# Check for duplicates in the dataset top_4000_movies_df
print(f"Duplicate entries: {top_4000_movies_df['Movie Title'].duplicated().sum()}")

Duplicate entries: 48

In [74]:
# Drop duplicates from movies_df
top_4000_movies_df.drop_duplicates(subset="Movie Title", keep=False, inplace=True)
top_4000_movies_df

,Release Date,Movie Title,Production Budget,Domestic Gross,Worldwide Gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2044540523
...,...,...,...,...,...
3995,2067-06-13,You Only Live Twice,9500000,43100000,111600000
3996,1988-10-06,Poltergeist III,9500000,14114000,14114000
3997,2016-12-21,Dangal,9500000,12391761,305149461
3998,2010-03-19,The Runaways,9500000,3573673,5278632
3999,2009-10-30,Gentlemen Broncos,9500000,115155,119955

In [75]:
# Check for duplicates in the dataset top_4000_movies_df
print(f"Duplicate entries: {top_4000_movies_df['Movie Title'].duplicated().sum()}")

Duplicate entries: 0

In [76]:
# drop rows with Na values
top_4000_movies_df.dropna()

,Release Date,Movie Title,Production Budget,Domestic Gross,Worldwide Gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2044540523
...,...,...,...,...,...
3995,2067-06-13,You Only Live Twice,9500000,43100000,111600000
3996,1988-10-06,Poltergeist III,9500000,14114000,14114000
3997,2016-12-21,Dangal,9500000,12391761,305149461
3998,2010-03-19,The Runaways,9500000,3573673,5278632
3999,2009-10-30,Gentlemen Broncos,9500000,115155,119955

In [15]:
#export movies_df to a local csv file
movies_df.to_csv("Resources/movies_cleaned.csv", index=False)

In [77]:
top_4000_movies_df.rename(columns={'Release Date':'Release_Date', 'Movie Title':'Movie_Title', 'Production Budget':'Production_Budget', 'Domestic Gross':'Domestic_Gross',
       'Worldwide Gross':'Worldwide_Gross'},inplace=True)

In [78]:
#export movies_df to a local csv file
top_4000_movies_df.to_csv("Resources/top_4000_cleaned.csv", index=False)